$main-font: "Muli", sans-serif;
$offset: 2rem;
$dark-color: #030303;
$main-width: 80%;
$side-width: 100% - $main-width;
$nav-size: 130px;
$title-size: 9vmax;
$easing: cubic-bezier(0.694, 0, 0.335, 1);

%abs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.bgred {
  background-color: red;
}
.bggreen {
  background-color: green;
}
.bgblue {
  background-color: blue;
}
.fullpage-slider {
  position: relative;
  height: 100vh;
  // display: flex;
}

.slider {
  &__button {
    z-index: 12;
    position: absolute;

    height: 100%;
    width: 5%;
    border: none;
    background: rgba($color: #000000, $alpha: 0);
    &--right {
      transform: translate3d(90vw, 0, 0);
    }
    &__icon {
      transform: scale(2);
    }
    // transform: translate3d(0, 50vh, 0);
  }
}
.slides {
  flex: 1 1 100%;
  display: flex;
  align-items: flex-end;
  padding: $offset;
  width: 100%;
  overflow: hidden;
  padding: 0px;
}

.slide {
  @extend %abs;
  overflow: hidden;
  will-change: transform;

  // .slide-image {
  //   will-change: transform;
  // }

  &.prev {
    z-index: 5;
    transform: translate3d(-100%, 0, 0);
    transition: 1s $easing;

    // .slide-image {
    //     transition: transform 0s 1s;
    // }
  }

  &.active {
    z-index: 10;
    transform: translate3d(0, 0, 0);
    transition: transform 1s $easing;
    // .slide-image {
    //     transform: scale(1.01);
    //     transition: transform 1s $easing;
    // }
  }
  &.next {
    z-index: 5;
    transform: translate3d(100%, 0, 0);
    transition: 1s $easing;
  }

  &:not(.prev):not(.active):not(.next) {
    z-index: -1;
    display: none;
    transform: translate3d(100%, 0, 0);
  }
}