@use './_reset.scss';

@font-face {
  font-family: minipax;
  src: url("/src/assets/fonts/Minipax-Regular.otf") format('opentype');
}

html { overflow: hidden;}
#app {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 2rem;
  max-width: 1110px;
  margin: 0 auto;
}
